<!doctype html>
<html>
    <head>
        <title>{% block title %}Flask Basics{% endblock %}</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        {% block content %}{% endblock %}
        <div class="wrap no-bottom-messages bg-{{saves.get('colors', 'blue')}}">
            {% with messages=get_flashed_messages() %}
            {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
        {% block form %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>
